SUBNET=192.168.32.0/29
PROJECT=ledenteller
PROJECT_FQDN=
PROJECT_ENTRYPOINT=
PROJECT_IP=0.0.0.0
PROJECT_PORT=8124
LOGIN_INFORMATION=
USE_USERNAME=false
LOGOUT_URL=
TIMEOUT_MINUTES=30
TIMEOUT_CHECK_ACTIVITY=true
